    body {
        background-color: #414141;
    }

    header {
        color: whitesmoke;
    }

.rodape {
    background-color: rgb(41, 41, 41);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
    padding: 8px;
}


.rodape button {
    background-color: rgb(41, 41, 41);
}

.rodape img {
    max-width: 40px;
}

footer img {
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
}


footer.rodape {
    width: 100%;
}

footer a {
    text-decoration: none;
}


@media(max-width: 450px) {
    .rodape img{
        max-width: 9%;
    }
    .rodape {
        width: 1500px;
        max-width: 2000px;
    }
}

@media screen and (min-width : 1024px) {
    
}

header {
    text-align: center;
}

.ult-atividade {
    margin-top: 10%;
    text-align: center;
}

.ult-atividade span {
    font-size: larger;
    font-weight: lighter;
}

.card-atividade {
    display: flex;
    margin: 5% auto;
    border: 1px solid;
    border-radius: 40px;
    max-width: 90%;
}

.box-busca{ 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #414141;
}


.search-box-input::placeholder {
    
    color:#ffffff;
    opacity: 0.6;

}



.search-box form {
    
    display: flex;
    border-radius: 50px;
    background-color: grey;
    height: 45px;

}

.search-box:hover .search-box-input {
    
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;

}

.search-box-input {

    outline: 0;
    font-size: 1.2em;
    color: #fff;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;

}

.search-box-button {

   display: flex;
   border-radius: 50%;
   width: 45px;
   height: 45px;
   background-color: black;
   border: none;
   cursor: pointer;
   transition: .3s;
   justify-content: center;
    align-items: center;
}

.search-box-button:active  {

    transform: scale(.85);

}

.search-box-button img {
    height: 35px;
    justify-content: center;
}

.search-box-icone {

    margin: auto;
    color: #fff;

}



@media screen and (min-width: 400px){
    
    .search-box:hover .search-box-input {
        width: 360px;
    }

}

