* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: rgb(41, 41, 41);
    height: 100vh;
    margin: 0;
}

.top {
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: #ffffff;
    height: 100px;

    h1 {
        padding: 30px 10px 10px;
        color: #720303;
    }

    img {
        height: 90px;
        width: 90px;
        position: absolute;
        left: 0;
        top: 5px;
    }
}

.menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 20px 0;
}

.card {
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-icon {
    font-size: 2rem;
    margin-bottom: 8px;
}

.card-number {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 4px;
    color: #c5c5c5;
}

.card-text {
    font-size: 0.9rem;
    color: #666;
}

.incidentes {
    background: rgb(51, 51, 51);
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
        h2 {
    font-size: 1.2rem;
    margin-bottom: 12px;
    color: #ffffff;
    }
}

.incidente-item {
    font-size: 0.9rem;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}


footer.rodape {
    background-color: rgb(41, 41, 41);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    padding: 8px;

    button {
        background-color: rgb(41, 41, 41);
    }

    img {
        max-width: 40px;
        margin: 0 30px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}


/* RESPONSIVO */
@media (max-width: 425px) {
    footer.rodape {
        width: 100%;

        img {
            max-width: 9%;
        }
    }
}