* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(41, 41, 41);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rodape {
    background-color: rgb(41, 41, 41);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
}


.rodape button {
    background-color: rgba(41, 41, 41, 0);

}

.rodape img {
    max-width: 30px;
}

nav {
    top: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    margin-bottom: 300px;

}

.info {
    margin-right: 250px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-top: 10px;

}

.info {
    width: 100%;
}

h5 {
    margin-top: 10px;
    font-weight: 200;
    width: 100%;
    text-align: center;
}

hr {
    color: white;
    opacity: 60%;
    margin-right: 30px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

img {
    margin-left: 40px;
    margin-right: 30px;
    justify-content: center;
}

a {
    text-decoration: none;

}


@media(max-height: 720px) {
    nav img {
        margin-top: 80px;
    }
}

@media(min-width: 768px) and (max-width: 1600px) {
    nav img {
        width: 200px;
        height: 200px;
    }

    h3 {
        font-size: 30px;
    }

    h5 {
        font-size: 20px;
    }

    .rodape {
        padding: 30px;
    }

    .rodape a img {
        height: 60px;
        max-width: 500px;
        width: 60px;
    }
}


@media(max-height: 800px) {



    nav h3 {
        font-size: 20px;
    }

    nav img {
        height: 100px;
        width: 100px;
        margin-top: 210px;
    }

    .info h3 {
        font-size: 20px;
    }

    .info h5 {
        font-size: 15px;
    }

    .rodape a img {
        height: 30px;
        width: 30px;
    }

    .rodape {
        padding: 15px;
    }
}