body {
    background-color: rgb(6, 54, 56);
}

.tela {
    color: white;
   
    position: absolute;
    top: 30%;
    left: 46%;
    transform: translate(-40%, -40%);
    font-size: 30px;
}

.layout {
    font-size: 8px;
    color: white;
    position: absolute;
    top: 60%;
    left: 38%
}

.layout h1 {
    font-family:serif;
}



.login {
position: absolute;
top: 70%;
left: 35%;
}

.login a {
    color: rgb(238, 238, 238);
    font-family:serif;
}

.login button {
    background-color: black;
    border-radius: 10px;
    font-size: 25px;
    width: 350px; 
    border-color: transparent;

}

.login-2 {
    position: absolute;
    top: 80%;
    left: 35%; 
}

.login-2 a {
    color: white;
    font-family:serif;
}

.login-2 button {
    background-color: transparent;
    text-align:center;
    width: 350px;
    font-size:25px;
    border-radius: 10px;
    border-color:white;
}
