* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: rgb(85, 40, 40);
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    text-align: center;
}

.tela {
    font-size: clamp(1.5rem, 5vw, 2.5rem); /* Responsivo na moral */
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
    background-color: transparent;
}

.tela h1 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 100%;
}

.loader {
    width: 80px;
    height: 80px;
    border: 2px solid rgb(255, 255, 255);
    border-top-color: rgb(206, 94, 94);
    border-radius: 50%;
    animation: rotate ease 1s infinite;
    bottom: 2;
    position: absolute;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}