* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(41, 41, 41);
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rodape {
    background-color: rgb(41, 41, 41);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
}


.rodape button {
    background-color: rgba(41, 41, 41, 0);
    
}

.rodape img {
    max-width: 30px;
}

nav {
    top: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    margin-bottom: 300px;
}

.info {
    margin-right: 250px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}