
.rodape {
    background-color: rgb(41, 41, 41);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;

    color: rgb(0, 0, 0);
}

.container {
    max-width: 1000px;
    max-height: 852px;
}

.rodape button {
    background-color: rgb(41, 41, 41);
    style    
}

.rodape img {
    max-width: 30px;
    
}
