* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: rgb(41, 41, 41);
    height: 100vh;
    margin: 0;
}

.top {
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: #ffffff;
    height: 100px;

    h1 {
        padding: 30px 10px 10px;
        color: #720303;
    }

    img {
        height: 90px;
        width: 90px;
        position: absolute;
        left: 0;
        top: 5px;
    }
}

footer.rodape {
    background-color: rgb(41, 41, 41);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    padding: 8px;

    button {
        background-color: rgb(41, 41, 41);
    }

    img {
        max-width: 40px;
        margin: 0 30px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}


/* RESPONSIVO */
@media (max-width: 425px) {
    footer.rodape {
        width: 100%;

        img {
            max-width: 9%;
        }
    }
}

@media (min-width: 768px) {
    .incidentes {
        text-align: center;
    }
    .incidente-item {
        justify-content: center;
    }
}

.ult-atividade {
    margin-top: 10%;
    text-align: center;
}

.ult-atividade span {
    font-size: larger;
    font-weight: lighter;
}

.card-atividade {
    display: flex;
    margin: 5% auto;
    border: 1px solid;
    border-radius: 40px;
    max-width: 80%;
    color: whitesmoke;
    align-items: center;
    
}
