.registro {
    padding-top: 100px ;
    text-align: center;
    color: whitesmoke;
    

}

.botao-azul {
    background-color: blue;
    color: whitesmoke;
    
}

.botao-branco {
    background-color: white;
    
}

.botaooo {
    text-align: center;
    
}

h1 {
    text-align: center;
    padding-top: 190px;
    color: whitesmoke;
    font-family:"Lexend", sans-serif;
}

img {
    width: 30px;
}

fieldset {
    border: none;
    text-align: center;
    
    
}

body {
    background-color: #414141;
   
}

.login a {
    text-decoration: none;
    color: red;
}

.botao-branco {
    margin-bottom: 10px;
}