/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: rgb(41, 41, 41);
    height: 100vh;
}


/* HEADER */
.top {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.text-oi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0 auto 10%;
}

.pfp img {
    border-radius: 99px;
    height: 90px;
    width: 90px;
}


.searchbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px 14px;
    margin-top: 30px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
}

.searchbar span {
    color: #c4c4c4b4;
}

.searchbar img {
    height: 25px;
    width: 25px;
    opacity: 0.7;
}

.ult-atividade {
    margin-top: 10%;
    text-align: center;
}

.ult-atividade span {
    font-size: larger;
    font-weight: lighter;
}

.card-atividade {
    display: flex;
    margin: 5% auto;
    border: 1px solid;
    border-radius: 40px;
    max-width: 90%;
}

.card-img img {
    margin: 0 auto;
    height: 100%;
    width: 70px;
    background-color: #d9d9d9;
    padding: 5px;
    border-radius: 50px;
}

.card-text {
    margin-left: 9%;
}

.card-titulo a {
    font-size: large;
    font-weight: 300;
}

.card-endereco {
    line-height: 15px;
    text-align: left;
}

.card-endereco span {
    font-size: small;
    font-weight: 200;
}


.servicos {
    margin-top: 20px;
}

.servicos-titulo {
    text-align: center;
}

.servicos-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
    margin-top: 20px;
}

.card-servico {
    text-align: center;
    width: 100px;
}

.servico-img {
    background-color: #d9d9d9;
    border-radius: 20px;
    margin: 0 auto;
    width: 100px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servico-img img {
    height: 50px;
    width: 50px;
}



footer.rodape {
    background-color: rgb(41, 41, 41);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    padding: 8px;
}

footer.rodape button {
    background-color: rgb(41, 41, 41);
}

footer.rodape img {
    max-width: 40px;
    margin: 0 30px;
}

footer a {
    text-decoration: none;
    color: inherit;
}


/* RESPONSIVO */
@media (max-width: 450px) {
    footer.rodape img {
        max-width: 9%;
    }

    footer.rodape {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 819){
   .card-atividade {
        width: 300px;
        margin-left: 30px;
   }
}

@media (min-width: 820px) {
    .card-atividade {
        width: 400px;
        height: 100px;
        margin-left: 30px;
    }
    .card-titulo a{
        font-size: 30px;
        
        
    }
    .card-titulo {
        width: 300px;
        margin-top: 15px;
    }

    .servicos-titulo {
        font-size: 40px;
    }
    .servico-img {
        width: 150px;
        height: 150px;

    }
    .servico-img img {
        height: 70px;
        width: 70px;
    }

    .servico-text {
        
    }
}