.registro {
    padding-top: 100px ;
    text-align: center;
    color: whitesmoke;
    
    
}

.botao-azul {
    background-color: blue;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    
}

.botao-branco {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botaooo {
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 190px;
    color: whitesmoke;
    font-family: "Lexend", sans-serif;
}

img {
    width: 30px;
}

fieldset {
    border: none;
    text-align: center;
    
}

body {
    background-color: #414141;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login {
    text-align: center;
    color: whitesmoke;

}

.login a {
    text-decoration: none;
    color: red;
}

