body {
    background-color: #414141;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #fff;
    margin-top: 90px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    width: 90%;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

legend {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 80%;
    max-width: 350px;
    padding: 12px 15px;
    margin: 8px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    font-size: 1rem;
    display: block;
}

input[type="submit"], button {
    width: 85%;
    max-width: 380px;
    padding: 12px;
    margin-top: 15px;
    background-color: #940000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.erro {
    color: crimson;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
}

.texto-login {
    text-align: center;
    margin: 20px 0 40px;
}

.texto-login a {
    color: crimson;
    text-decoration: none;
    margin-left: 5px;
}

@media (max-width: 600px) {
    header h1 {
        padding-top: 30px;
        font-size: 2rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="submit"],
    .registrar-se button {
        width: 90%;
    }
}

.registrar-se a{
    text-decoration: none;
    color: white;
}
