body {
    font-family: Arial, sans-serif;
    background-color: #414141;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #383838;
  padding: 72px;
  width: 97%;
  text-align: center;
  color: white;
  position: fixed;
  z-index: 0;
  bottom: 0;
  border: none;
  max-width: 3750px;

}

h1 {
    color: #fffefe;
    margin-bottom: 20px;
    font-size: 35px
    
}

h2 {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: left;
    margin-top: 10px;
}

.selecione-endereco {
    margin-bottom: 20px;
    text-align: left;
}

.address-input label {
    display: block;
    margin-bottom: 5px;
    color: #f8f5f5;
    font-weight: bold;
}

.address-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fffcfc;
    border-radius: 5px;
    box-sizing: border-box;
}

.save-as-section, .others-section {
    margin-bottom: 20px;
}

.location-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.location-btn {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    flex: 1;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.location-btn:hover {
    background-color: #fffefe;
}

.save-btn {
    background-color: #940000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-btn:hover {
    background-color: #940000;
}

img {
    width: 40px;
}

.butao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape {
    background-color: rgb(41, 41, 41);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
    padding: 8px;
}


.rodape button {
    background-color: rgb(41, 41, 41);
}

.rodape img {
    max-width: 40px;
}

footer img {
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
}


footer.rodape {
    width: 100%;
}

footer a {
    text-decoration: none;
}


@media(max-width: 450px) {
    .rodape img{
        max-width: 9%;
    }
    .rodape {
        width: 1500px;
        max-width: 2000px;
    }
}

@media screen and (min-width : 1024px) {
    
}