* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: rgb(41, 41, 41);
    height: 100vh;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

}
.text-oi {
    align-items: center;
    justify-content: center;
    margin: auto 0 auto 10%;
}

.text-oi h1 {
    color: white;
}

.pfp {
    margin-right: 5%;
}

.pfp img {
    border-radius: 99px;
    height: 100px;
    width: 100px;
}


/* Barra de navegação */
.rodape {
    background-color: rgb(41, 41, 41);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
}


.rodape button {
    background-color: rgb(41, 41, 41);
}

.rodape img {
    max-width: 30px;
    margin-left:40px;
    margin-right: 30px;
    justify-content: center;
}
