<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Administração - TREMzz</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/menuadm.css">
    <link rel="shortcut icon" href="../img/tremlogo.png">
    <!-- fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;
    1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- fim fonte -->
</head>

<body>
    <header>
        <div class="top">
            <img src="../img/tremlogo.png">
            <h1> ADM </h1>
        </div>
    </header>

    <main>
        <section class="cards">
            <div class="card">
                <div class="card-icon">🚆</div>
                <div class="card-number" id="trem-num">12</div>
                <div class="card-text">Trens ativos neste momento</div>
            </div>
            <div class="card">
                <div class="card-icon">⚠️</div>
                <div class="card-number" id="atraso-num">3</div>
                <div class="card-text">Linhas com atrasos</div>
            </div>
            <div class="card">
                <div class="card-icon">👥</div>
                <div class="card-number" id="passageiros-num">1.245</div>
                <div class="card-text">Passageiros conectados agora</div>
            </div>
            <div class="card">
                <div class="card-icon">💰</div>
                <div class="card-number" id="dinheiro-num">R$ 18.500,00</div>
                <div class="card-text">Faturamento hoje</div>
            </div>
        </section>

        <section class="incidentes">
            <h2>Últimos Incidentes</h2>
            <div class="incidente-item"> <span>⚠️ Trem 102 atrasado - <a class="linhaVerde"> Linha Verde </a> - 15 min </span> </div>
            <div class="incidente-item"> <span>🔧 Manutenção programada na Estação Central - 22:00h </span> </div>
            <div class="incidente-item"> <span>❌ Cancelamento do trem 55 - <a class="linhaAzul"> Linha Azul </a> </span> </div>
        </section>
    </main>

    <footer>

    </footer>
    <script src="../js/main.js"></script>
</body>

</html>